NET "system_clk" TNM_NET = "system_clk";
NET "sdram_sclkfb" TNM_NET = "sdram_sclkfb";
#NET "*cpu_reading*" TNM_NET = "cpu_reading";
TIMESPEC "TS_system_clk" = PERIOD "system_clk" 20 ns HIGH 50%;
TIMESPEC "TS_sdram_sclkfb" = PERIOD "sdram_sclkfb" 20 ns HIGH 50%;

INST "sdramburst1/clk_intdll" LOC=DLL2;
INST "sdramburst1/intclk_buf" LOC=GCLKBUF2;
INST "sdramburst1/intclk_dv_buf" LOC=GCLKBUF3;
INST "sdramburst1/clk_extdll" LOC=DLL3;
#INST "sdramburst1/clk_cpudll" LOC=DLL0;
#INST "sdramburst1/cpuclk_buf" LOC=GCLKBUF0;
#INST "sdramburst1/cpuclk_dv_buf" LOC=GCLKBUF1;
#INST "sdramburst1/divclk_buf" LOC=GCLKBUF2;
#INST "cpudll" LOC=DLL2;
#INST "divbuf" LOC=GCLKBUF2;
#NET "pcpu_rclk" TNM_NET = "pcpu_rclk"
#TIMESPEC "TS_pcpu_rclk" = PERIOD "pcpu_rclk" 70 ns HIGH 50 %
#INST "sdram1/gen_dlls.int_clk1x_buf" LOC = "GCLKBUF0"
#INST "sdram1/gen_dlls.int_clkdv_buf" LOC = "GCLKBUF1"
#INST "sdram1/gen_dlls.dllint" LOC=DLL1
#INST "sdram1/gen_dlls.dllext" LOC=DLL0
# NET "hcpu_address<0>"  LOC = "H14" ; 
# NET "hcpu_address<1>"  LOC = "H13" ; 
# NET "hcpu_address<2>"  LOC = "G15" ; 
# NET "hcpu_clk"  LOC = "G14" ; 
# NET "hcpu_data<0>"  LOC = "F16" ; 
# NET "hcpu_data<1>"  LOC = "F14" ; 
# NET "hcpu_data<2>"  LOC = "F12" ; 
# NET "hcpu_data<4>"  LOC = "E11" ; 
# NET "hcpu_data<3>"  LOC = "B16" ; 
# NET "hcpu_data<5>"  LOC = "D11" ; 
# NET "hcpu_data<6>"  LOC = "E10" ; 
# NET "hcpu_data<7>"  LOC = "B10" ; 
# NET "hcpu_ncs"  LOC = "A10" ; 
# NET "hcpu_nirq"  LOC = "D9" ; 
# NET "hcpu_nrst"  LOC = "B9" ; 
# NET "hcpu_read"  LOC = "A9" ; 
#TIMESPEC TS_pcpu_rclk = PERIOD "pcpu_rclk" 320 ns HIGH 50%;
#NET "system_clk"  LOC = "R8" ; 
#NET "pcpu_emulmode"  LOC = "P7" ; 
#NET "pcpu_rclk"  LOC = "C9" ; 
#NET "sw3"  LOC = "D2" ; 
#PACE: Start of Constraints generated by PACE
#PACE: Start of PACE I/O Pin Assignments
NET "button_nrst"  LOC = "E3"  ; 
NET "flash_address<0>"  LOC = "J14"  ; 
NET "flash_address<10>"  LOC = "C16"  ; 
NET "flash_address<11>"  LOC = "E14"  ; 
NET "flash_address<12>"  LOC = "D16"  ; 
NET "flash_address<13>"  LOC = "F13"  ; 
NET "flash_address<14>"  LOC = "E15"  ; 
NET "flash_address<15>"  LOC = "G12"  ; 
NET "flash_address<16>"  LOC = "G13"  ; 
NET "flash_address<17>"  LOC = "H16"  ; 
NET "flash_address<18>"  LOC = "A13"  ; 
NET "flash_address<19>"  LOC = "M10"  ; 
NET "flash_address<1>"  LOC = "L13"  ; 
NET "flash_address<20>"  LOC = "P11"  ; 
NET "flash_address<2>"  LOC = "C10"  ; 
NET "flash_address<3>"  LOC = "D10"  ; 
NET "flash_address<4>"  LOC = "A11"  ; 
NET "flash_address<5>"  LOC = "B11"  ; 
NET "flash_address<6>"  LOC = "C11"  ; 
NET "flash_address<7>"  LOC = "A12"  ; 
NET "flash_address<8>"  LOC = "B12"  ; 
NET "flash_address<9>"  LOC = "E13"  ; 
NET "flash_byte"  LOC = "J15"  ; 
NET "flash_ce"  LOC = "M15"  ; 
NET "flash_data<0>"  LOC = "D14"  ; 
NET "flash_data<1>"  LOC = "E16"  ; 
NET "flash_data<2>"  LOC = "F15"  ; 
NET "flash_data<3>"  LOC = "G16"  ; 
NET "flash_data<4>"  LOC = "J16"  ; 
NET "flash_data<5>"  LOC = "M16"  ; 
NET "flash_data<6>"  LOC = "N16"  ; 
NET "flash_data<7>"  LOC = "N14"  ; 
NET "flash_oe"  LOC = "L14"  ; 
NET "flash_reset"  LOC = "A14"  ; 
NET "flash_we"  LOC = "D12"  ; 
NET "lcd_cs"  LOC = "R12"  ; 
NET "pcpu_address<0>"  LOC = "A9"  ; 
NET "pcpu_address<10>"  LOC = "A5"  ; 
NET "pcpu_address<11>"  LOC = "B5"  ; 
NET "pcpu_address<12>"  LOC = "D6"  ; 
NET "pcpu_address<13>"  LOC = "A4"  ; 
NET "pcpu_address<14>"  LOC = "B4"  ; 
NET "pcpu_address<15>"  LOC = "E6"  ; 
NET "pcpu_address<16>"  LOC = "T9"  ; 
NET "pcpu_address<17>"  LOC = "R9"  ; 
NET "pcpu_address<18>"  LOC = "P9"  ; 
NET "pcpu_address<19>"  LOC = "N9"  ; 
NET "pcpu_address<1>"  LOC = "A8"  ; 
NET "pcpu_address<20>"  LOC = "T10"  ; 
NET "pcpu_address<21>"  LOC = "P10"  ; 
NET "pcpu_address<22>"  LOC = "T11"  ; 
NET "pcpu_address<23>"  LOC = "T12"  ; 
NET "pcpu_address<2>"  LOC = "C8"  ; 
NET "pcpu_address<3>"  LOC = "A7"  ; 
NET "pcpu_address<4>"  LOC = "B7"  ; 
NET "pcpu_address<5>"  LOC = "A6"  ; 
NET "pcpu_address<6>"  LOC = "D7"  ; 
NET "pcpu_address<7>"  LOC = "B6"  ; 
NET "pcpu_address<8>"  LOC = "E7"  ; 
NET "pcpu_address<9>"  LOC = "C6"  ; 
NET "pcpu_clk<0>"  LOC = "A3"  ; 
NET "pcpu_clk<1>"  LOC = "C7"  ; 
NET "pcpu_data<0>"  LOC = "T6"  ; 
NET "pcpu_data<1>"  LOC = "N7"  ; 
NET "pcpu_data<2>"  LOC = "R6"  ; 
NET "pcpu_data<3>"  LOC = "M7"  ; 
NET "pcpu_data<4>"  LOC = "P6"  ; 
NET "pcpu_data<5>"  LOC = "R5"  ; 
NET "pcpu_data<6>"  LOC = "T4"  ; 
NET "pcpu_data<7>"  LOC = "P5"  ; 
NET "pcpu_irq"  LOC = "T14"  ; 
NET "pcpu_nmi"  LOC = "R7"  ; 
NET "pcpu_nrdy"  LOC = "P8"  ; 
NET "pcpu_read"  LOC = "T8"  ; 
NET "pcpu_rst"  LOC = "T7"  ; 
NET "sdram_ba<0>"  LOC = "K2"  ; 
NET "sdram_ba<1>"  LOC = "L2"  ; 
NET "sdram_cas_n"  LOC = "H3"  ; 
NET "sdram_cke"  LOC = "L1"  ; 
NET "sdram_cs_n"  LOC = "J3"  ; 
NET "sdram_dqmh"  LOC = "H1"  ; 
NET "sdram_dqml"  LOC = "G2"  ; 
NET "sdram_ras_n"  LOC = "J2"  ; 
NET "sdram_saddr<0>"  LOC = "L4"  ; 
NET "sdram_saddr<10>"  LOC = "L3"  ; 
NET "sdram_saddr<11>"  LOC = "M3"  ; 
NET "sdram_saddr<12>"  LOC = "M2"  ; 
NET "sdram_saddr<1>"  LOC = "N1"  ; 
NET "sdram_saddr<2>"  LOC = "N2"  ; 
NET "sdram_saddr<3>"  LOC = "M4"  ; 
NET "sdram_saddr<4>"  LOC = "T5"  ; 
NET "sdram_saddr<5>"  LOC = "N6"  ; 
NET "sdram_saddr<6>"  LOC = "M6"  ; 
NET "sdram_saddr<7>"  LOC = "T3"  ; 
NET "sdram_saddr<8>"  LOC = "N5"  ; 
NET "sdram_saddr<9>"  LOC = "P1"  ; 
NET "sdram_sclk"  LOC = "J4"  ; 
NET "sdram_sclkfb"  LOC = "N8"  ; 
NET "sdram_sdata<0>"  LOC = "C2"  ; 
NET "sdram_sdata<10>"  LOC = "E2"  ; 
NET "sdram_sdata<11>"  LOC = "E4"  ; 
NET "sdram_sdata<12>"  LOC = "B1"  ; 
NET "sdram_sdata<13>"  LOC = "A2"  ; 
NET "sdram_sdata<14>"  LOC = "D5"  ; 
NET "sdram_sdata<15>"  LOC = "C5"  ; 
NET "sdram_sdata<1>"  LOC = "C1"  ; 
NET "sdram_sdata<2>"  LOC = "F5"  ; 
NET "sdram_sdata<3>"  LOC = "D1"  ; 
NET "sdram_sdata<4>"  LOC = "F3"  ; 
NET "sdram_sdata<5>"  LOC = "F2"  ; 
NET "sdram_sdata<6>"  LOC = "F1"  ; 
NET "sdram_sdata<7>"  LOC = "G3"  ; 
NET "sdram_sdata<8>"  LOC = "G4"  ; 
NET "sdram_sdata<9>"  LOC = "G5"  ; 
NET "sdram_we_n"  LOC = "G1"  ; 
NET "system_clk"  LOC = "B8"  ; 
#NET "system_clk"  LOC = "R8"  ; 
NET "vga_blue<0>"  LOC = "H4"  ; 
NET "vga_blue<1>"  LOC = "K3"  ; 
NET "vga_blue<2>"  LOC = "L5"  ; 
NET "vga_green<0>"  LOC = "H2"  ; 
NET "vga_green<1>"  LOC = "K5"  ; 
NET "vga_green<2>"  LOC = "R1"  ; 
NET "vga_hsync"  LOC = "K4"  ; 
NET "vga_red<0>"  LOC = "J1"  ; 
NET "vga_red<1>"  LOC = "M1"  ; 
NET "vga_red<2>"  LOC = "T2"  ; 
NET "vga_vsync"  LOC = "K1"  ;
#TIMESPEC TS_cpu_reading = FROM "cpu" TO "cpu_reading" TS_system_clk * 2;
